:root {
  --yellow: #ffc600;
  --black: #000000;
  --gray: #dadedf;
  --darkgray: #7f7f7f;
}

html {
  /* border-box: add border and padding without increasing box-size */
  box-sizing: border-box;
  font-family: Tahoma;
  color: var(--black);
}

/* inherit box-sizing from .html */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray);
}

.container {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 250px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 40px; */

  /* Fraction Units get the browser to do the calculations.
     It accomodates all other measurements first, then divides
     the remaining space.
  */
  grid-template-columns: 50% 1fr 2fr 1fr;
  grid-template-rows: 150px 250px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.item {
  border: 5px solid var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  font-size: 15px;
  margin: 5px;
}
